.bss5 {
  margin-top: -3px;
  padding: 3%;
      background-image:
    url("../../assets/images/Vector 3.png"),
    url("../../assets/images/Ellipse 7.png"),
    url("../../assets/images/Ellipse 6-2.png"),
    url("../../assets/images/Ellipse 6-1.png"),
    linear-gradient(
    to right,
    #000103,
    #000814,
    #01112c,
    #00307c
  );

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

  background-position:
    right 0px top 0px,   
    left 0px bottom 0px,       
    right 0px top 0px,       
    right 0px bottom 0px,       
    center;

  background-size:
    1285px 800px,
    299px 500px,
    330px 400px,
    330px 301.5px,
    cover;
    width: 100vw;
}

.blue-title-bss5 {
  text-align: right;
  
}

.blue-title-bss5>h1 {
  background: linear-gradient(135deg, #00c8ff, #0077ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  line-height: 112%;
  font-family: "commissioner-medium";
}

.blue-title-bss5>h1>div {
  font-family: 'commissioner-extralight';
  font-size: 36px;
  /* color: #ffffff; */
  line-height: 112.9%;
  -webkit-text-fill-color: #ffffff;
  text-align: right;
}

.slider-box-bss5 {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 40px 0;
  width: max-content;

  animation: slider 15s linear infinite;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.slider-bss5 {
  overflow: hidden;
  width: 100%;
}

.slider-box-bss5 {
  width: max-content;
}


.para-bss5 {
  font-family: 'decalotype-light';
  font-size: 22px;
  color: #ffffff;
  width: 95%;
}

.para-bss5>button {
  background: linear-gradient(90deg, #00c8ff, #0e5dda);
  color: #ffffff;
  max-width: 344px;
  height: 61px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'commissioner-semibold';
  margin-top: 40px;
  padding: 20px 30px;
}

@media (min-width: 1550px) {
  .bss5 {
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    animation: infinite;
    flex-wrap: wrap;
    gap: 20px;
  }

  .para-bss5 {
    max-width: 100vw;

  }

  .slider-box-bss5 {
    animation: infinite;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width:900px) {
.bss5{
  background-image: none;
  background: linear-gradient( to right,
    #000103,
    #000814,
    #01112c,
    #00307c);
}
}