/* ===============================
   Font Face: Decalotype (Local)
================================ */

/* @font-face {
  font-family: "Decalotype";
  src: url("./assets/fonts/Decalotype-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Decalotype";
  src: url("./assets/fonts/Decalotype-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Decalotype";
  src: url("./assets/fonts/Decalotype-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
} */
 

@font-face {
  font-family: "decalotype-light";
  src: url("./assets/fonts/decalotype.light.ttf");
}
@font-face {
  font-family: "decalotype-medium";
  src: url("./assets/fonts/decalotype.medium.ttf");
}
@font-face {
  font-family: "decalotype-regular";
  src: url("./assets/fonts/decalotype.regular.ttf");
}
@font-face {
  font-family: "decalotype-bold";
  src: url("./assets/fonts/decalotype.bold.ttf");
}

@font-face {
  font-family: 'decalotype-semibold';
  src: url('./assets/fonts/decalotype.semibold.ttf');
}

@font-face {
  font-family: 'Commissioner-ExtraLight';
  src: url('./assets/fonts/Commissioner-ExtraLight.ttf');
}
@font-face {
  font-family: 'Commissioner-Light';
  src: url('./assets/fonts/Commissioner-Light.ttf');
}
@font-face {
  font-family: 'Commissioner-Medium';
  src: url('./assets/fonts/Commissioner-Medium.ttf');
}
@font-face {
  font-family: 'Commissioner-Regular';
  src: url('./assets/fonts/Commissioner-Regular.ttf');
}
@font-face {
  font-family: 'Commissioner-SemiBold';
  src: url('./assets/fonts/Commissioner-SemiBold.ttf');
}

/* ===============================
   CSS Reset & Base Styles
================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --font-primary: "Commissioner", system-ui, sans-serif;
  --font-secondary: "Decalotype", "Commissioner", sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: #ffffff;
  color: #111111;
  line-height: 1.5;
  background: linear-gradient(
    90deg,
    #000103,
    #000814,
    #01112c,
    #00307c
  );
}

/* Typography defaults */
p,
span,
li {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

img {
  max-width: 100%;
  display: block;
}


